@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$main-font: 'Roboto';
$btn-font-size: '12px';
$main-btn-color: rgb(120, 15, 129);
$hovered-btn-color: rgb(198, 24, 214);
$btn-text-color: antiquewhite;